%p
  Beste 
  %strong= @request.requested.boat_company.name
  
%p Zojuist ontvingen wij de navolgende aanvraag:

%ul
  %li Referentie: #{@request.id}
  %li Boot: #{@request.requested.name}
  %li 
    Datum: #{l @request.date}
  %li
    Start tijd: #{l @request.start}
  %li
    Eind tijd: #{l @request.end}
  %li
    Personen: #{@request.persons}