!!! 5
%html
  %head
    %title title
    -# Stylesheets
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    -# Javascript
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #header.container
      #logo
        %h1
          = link_to 'Boot huren Amsterdam.com', :root
    #topmenu.container
    #menu.container    
      %ul
        %li= link_to 'Home', :root
        %li= link_to 'All boats', :boats
        %li= link_to 'Getting married', :married
        %li asdf
        %li asdf
        %li asdf
        %li asdf
        %li asfd
    #page.container.three-columns
      .column1
        .box-style1
          %h2 Alle huurboten op een rij
          %ul
            %li asdf
            %li asdf
            %li asdf
            %li asdf
            %li asdf
      .column2
        = yield
      .column3
        .box-style5.stock-ticker
          %h2 Aanbieding: Wijnproeverij
          .content
            %p asdfasdf
    #footer
      .container
        %p.legal asdf
        %p.links
